@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    background: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='30' patternTransform='scale(3) rotate(180)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M1-6.5v13h28v-13H1zm15 15v13h28v-13H16zm-15 15v13h28v-13H1z'  stroke-width='1' stroke='none' fill='hsla(0, 100%, 39%, 1)'/><path d='M31-6.5v13h28v-13H31zm-45 15v13h28v-13h-28zm60 0v13h28v-13H46zm-15 15v13h28v-13H31z'  stroke-width='1' stroke='none' fill='hsla(10, 100%, 44%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.container {
    height: 120vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.89) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.titre {
    position: relative;
    background: rgba(1, 5, 41, 0.966);
    box-shadow: 0 0 10vw 0vw #7476ff,
                0 0 2vw 0.4vw #0408fb,
                inset 0 0 0.5vw 0.2vw #7476ff,
                inset 0 0 0.2vw 0.2vw #3134ff,
                inset 0 0 0.25vw 0.2vw #0408fb;
    width: 30%;
    height: 200px;
    margin: 15px auto;
    border-radius: 15px;
}
h1 {
    letter-spacing: 3px;
    font-size: 3rem;
    /* text-align: center; */
    position: absolute;
    top: 40px;
    left: 30px;
    /* transform: translate(-50%, -50%);  */
    color: whitesmoke;
    text-shadow: 0.1vw 0vw 0.25vw #7476ff,
                 0.15vw 0vw 0.25vw #7476ff,
                 
                 0.1vw 0vw 0.1vw #3134ff,
                 0.15vw 0vw 0.1vw #3134ff,
                 0.4vw 0vw 0.1vw #3134ff,
                 
                 0.1vw 0vw 2vw #3137ff,
                 0.15vw 0vw 2vw #3137ff,
                 0.4vw 0vw 2vw #3137ff,

                 0.1vw 0vw 1vw #0408fb,
                 0.15vw 0vw 1vw #0408fb,
                 0.4vw 0vw 5vw #0408fb,

                 0.1vw 0vw 5vw #0408fb,
                 0.15vw 0vw 20vw #0408fb,
                 0.4vw 0vw 10vw #0408fb,

                 0.1vw 0vw 10vw #0408fb,
                 0.15vw 0vw 30vw #0408fb,
                 0.4vw 0vw 10vw #0408fb;
}
h3 {
    color: whitesmoke;
    position: absolute;
    letter-spacing: 3px;
    font-size: 3rem;
    top: 100px;
    left: 130px;

} 
.enseigne {
    filter: drop-shadow(0 0.15vw 0.30vw #fffb0e)
            drop-shadow(0 0.15vw 0.30vw #8a8942);
    position: absolute;
    right: -10px;
    bottom: -10px;
    transform: rotate(10deg);
}
input {
    text-align: center;
    border-radius: 25px 25px 0 0;
    width: 300px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 40px auto 20px;
    padding: 10px 0px;
}
input::placeholder{
    text-align: center;
    font-size: 1.2rem;
}
input[type="submit"] {
    border-radius: 25px;
    background: black;
    color: whitesmoke;
    transition: 0.3s ease;
}
input[type="submit"]:hover {
    background: rgb(46, 46, 46);
    color: whitesmoke;
}

img {
    object-fit: cover;
    width: 50%;
    max-width: 250px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1400px;
}
li {
    max-width: 400px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.808);
}
h2 {
    margin: 10px 0 25px;
}
li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    color: whitesmoke;
}
.description {
    margin-top: 20px;
}
